@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
:root {
    --primary-color: #5ca8b1;
    --secondary-color: #dbeaea;
    --accent1-color: #bd93bd;
    --accent2-color: #2d0117;

    --heading-font: 'Roboto Condensed', serif;
    --paragraph-font: 'Roboto Condensed', serif;

    --nav-background-color: #5ca8b1;
    --nav-link-color: #bd93bd;
    --nav-hover-link-color: #2d0117;
    --nav-hover-background-color: #dbeaea;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-hover-link-color);
}
nav a:link, nav:visited {
    color: var(--nav-hover-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}